benchmarks/bin
starter/bin
starter/dist
starter/wildfly-base
siebog/gwt-unitCache
siebog/war/WEB-INF/classes
siebog/war/WEB-INF/deploy
siebog/war/admin
siebog/.cache
siebog/dnars-import.jar
siebog/dnars-tools-lib
siebog/dnars-convert.jar
jason_examples/bin
unit-tests/.cache
siebog/jason.ucls
dnars/.cache
benchmarks/APDescription.txt
benchmarks/MTPs-Main-Container.txt
/build/
/dist/
