benchmarks/bin
siebog-agents/war/WEB-INF/classes
siebog-core/bin
siebog-core/dist
siebog-core/wildfly-base
siebog/gwt-unitCache
siebog/war/WEB-INF/classes
siebog/war/WEB-INF/deploy
siebog/war/admin
siebog/.cache
siebog/dnars-import.jar
siebog/dnars-rdf2dnars.jar
siebog/dnars-tools-lib
