<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Examples</title>
</head>
<body>
	<h1>Examples</h1>
	There are two types of agents, and therefore two types of examples:
	<ul>
		<li><a href="xjaf/Examples.html">server-side agents</a>, executed on the server (written in Java)</li>
		<li><a href="radigost/Examples.html">client-side agents</a>, executed in your browser (written in JavaScript)</li>
	</ul>
	More info can be found on the <a target="_blank" href="https://github.com/gcvt/siebog/wiki/Agent-List">wiki</a> pages.
</body>
</html>