<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="main.home">Siebog Multiagent Framework</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="main.agent-runner">Agent Runner</a></li>
            <li><a ui-sref="main.agent-examples">Examples</a></li>
            <li><a target="_blank" href="https://github.com/gcvt/siebog/wiki">Documentation</a></li>
        </ul>
    </div>
</nav>