<div>
	<h1>Welcome to the Siebog project</h1>

	<p>Siebog is an Enterprise-Scale Multiagent Middleware. It consists of the following main modules:</p>

	<ul>
		<li>Extensible Java EE-based Agent Framework (XJAF): Built using Java EE technologies, XJAF operates on top of computer clusters, offering automatic agent load-balancing, state-replication, and fault-tolerance.</li>
		<li>Radigost: Purely web-based multiagent platform, built using JavaScript and HTML5-related standards. Radigost agents are executed inside web browsers and can be used in a wide variety of hardware and software platforms, including personal computers, smartphones and tablets, Smart TVs, etc.</li>
		<li>Jason interpreter, Enterprise Edition (Jason EE): A port of the popular Jason interpreter to Java EE (i.e. using XJAF as the underlying infrastructure).</li>
		<li>Distributed Non-Axiomatic Reasoning System (DNARS): An advanced reasoning system based on the Non-Axiomatic Logic (NAL) formalism.</li>
	</ul>

	<p>The main motivation to create this system is that it achieves better performances and uses more advanced technology than other agent middlewares. For example, to achieve load-balancing and fault-tolerance, we use industrial solutions, instead of proprietary solutions. This gives us the possibility of running twice more agents on the same number of machines compared to other agent frameworks. Also, we have introduced JavaScript-based agents that work in browsers, can communicate with server-based agents, and can migrate to the server, if needed. Those JavaScript agents can execute tasks in almost the same amount of time compared to the server-based agents.</p>
	
	<p>Be sure to check out the following pages:</p>
	<ul>
		<li>The <a ui-sref="main.agent-runner">agent runner</a> page, where you can create and send custom messages to all of our working agents.</li>
		<li>The <a ui-sref="main.agent-examples">examples</a> page, where you can activate preconfigured examples and with just a few clicks create and activate our agents.</li>
		<li>Our <a target="_blank" href="https://github.com/gcvt/siebog/wiki">GitHub repository</a>, where you can look at our source code and get all the published information about this project.</li>
	</ul>
</div>