<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<!-- ~ JBoss, Home of Professional Open Source. ~ Copyright (c) 2011, Red 
	Hat, Inc., and individual contributors ~ as indicated by the @author tags. 
	See the copyright.txt file in the ~ distribution for a full listing of individual 
	contributors. ~ ~ This is free software; you can redistribute it and/or modify 
	it ~ under the terms of the GNU Lesser General Public License as ~ published 
	by the Free Software Foundation; either version 2.1 of ~ the License, or 
	(at your option) any later version. ~ ~ This software is distributed in the 
	hope that it will be useful, ~ but WITHOUT ANY WARRANTY; without even the 
	implied warranty of ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
	See the GNU ~ Lesser General Public License for more details. ~ ~ You should 
	have received a copy of the GNU Lesser General Public ~ License along with 
	this software; if not, write to the Free ~ Software Foundation, Inc., 51 
	Franklin St, Fifth Floor, Boston, MA ~ 02110-1301 USA, or see the FSF site: 
	http://www.fsf.org. -->
<module xmlns="urn:jboss:module:1.3" name="siebog-core">
	<resources>
		<resource-root path="astyanax-cassandra-1.56.48.jar" />
		<resource-root path="astyanax-core-1.56.48.jar" />
		<resource-root path="astyanax-thrift-1.56.48.jar" />
		<resource-root path="blueprints-core-2.5.0.jar" />
		<resource-root path="cassandra-all-2.0.8.jar" />
		<resource-root path="cassandra-thrift-2.0.8.jar" />
		<resource-root path="colt-1.2.0.jar" />
		<resource-root path="commons-codec-1.7.jar" />
		<resource-root path="commons-collections-3.2.1.jar" />
		<resource-root path="commons-configuration-1.6.jar" />
		<resource-root path="commons-lang-2.5.jar" />
		<resource-root path="commons-logging-1.1.1.jar" />
		<resource-root path="commons-pool-1.6.jar" />
		<resource-root path="dnars.jar" />
		<resource-root path="gremlin-java-2.5.0.jar" />
		<resource-root path="gremlin-scala-2.4.2.jar" />
		<resource-root path="guava-15.0.jar" />
		<resource-root path="high-scale-lib-1.1.2.jar" />
		<resource-root path="hppc-0.6.0.jar" />
		<resource-root path="jackson-core-2.2.3.jar" />
		<resource-root path="jackson-core-asl-1.9.2.jar" />
		<resource-root path="jackson-mapper-asl-1.9.2.jar" />
		<resource-root path="jade.jar" />
		<resource-root path="jason.jar" />
		<resource-root path="javassist-3.18.0-GA.jar" />
		<resource-root path="jena-core-2.11.2.jar" />
		<resource-root path="joda-time-1.6.2.jar" />
		<resource-root path="json-simple-1.1.1.jar" />
		<resource-root path="kryo-2.22.jar" />
		<resource-root path="libthrift-0.9.0.jar" />
		<resource-root path="log4j-1.2.17.jar" />
		<resource-root path="metrics-core-3.0.1.jar" />
		<resource-root path="pipes-2.5.0.jar" />
		<resource-root path="reflections-0.9.9-RC1.jar" />
		<resource-root path="scala-library_2.11.2.jar" />
		<resource-root path="slf4j-api-1.7.6.jar" />
		<resource-root path="slf4j-log4j12-1.7.6.jar" />
		<resource-root path="spatial4j-0.4.1.jar" />
		<resource-root path="start.jar" />
		<resource-root path="titan-cassandra-0.5.3.jar" />
		<resource-root path="titan-core-0.5.3.jar" />
		<resource-root path="xercesImpl-2.11.0.jar" />
		<resource-root path="xml-apis-1.4.01.jar" />
		<resource-root path="cassandra-driver-core-2.0.8.jar" />
		<resource-root path="netty-3.9.0.Final.jar" />
	</resources>
	<dependencies>
		<module name="org.omg.api" />
		<module name="javax.api" />
		<module name="sun.jdk" />
	</dependencies>
</module>
